<a href="https://colab.research.google.com/github/CodewithRadheRadhe/Titanic-Survival-Prediction/blob/main/TitanicDataPreProc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/TheTitanic.csv')

In [ ]:
df.head()

,1,2,3,4,5,6,7,8,9,10
0,sn,pclass,survived,NaN,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,?,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",NaN,NaN,2,**,S,03-Jan-90

In [ ]:
df.columns=df.iloc[0]
df=df[1:]

In [ ]:
df

,sn,pclass,survived,NaN,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,?,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",NaN,NaN,2,**,S,03-Jan-90
5,4,3,1,"Abbott, Mr. Rossmore Edward",female,35,2,20.25,S,04-Jan-90
...,...,...,...,...,...,...,...,...,...,...
1297,1296,2,0,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,13,S,19-Jul-93
1298,1297,3,0,"Zabour, Miss. Hileni",female,14.5,1,14.4542,C,20-Jul-93
1299,1298,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,7.225,C,21-Jul-93
1300,1299,3,0,"Zakarian, Mr. Ortin",male,27,0,7.225,C,22-Jul-93
1301,1300,3,0,"Zimmerman, Mr. Leo",male,29,0,7.875,S,23-Jul-93

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1301 entries, 1 to 1301
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sn        1301 non-null   object
 1   pclass    1301 non-null   object
 2   survived  1301 non-null   object
 3   nan       1301 non-null   object
 4   gender    1300 non-null   object
 5   age       1044 non-null   object
 6   family    1299 non-null   object
 7   fare      1299 non-null   object
 8   embarked  1295 non-null   object
 9   date      1301 non-null   object
dtypes: object(10)
memory usage: 101.8+ KB

In [ ]:
df.columns=['sn','pclass','survived','Name','gender','age','family','fare','embarked','date']

In [ ]:
df.columns

Index(['sn', 'pclass', 'survived', 'Name', 'gender', 'age', 'family', 'fare',
       'embarked', 'date'],
      dtype='object')

In [ ]:
df.isnull().sum()

sn            0
pclass        0
survived      0
Name          0
gender        1
age         257
family        2
fare          2
embarked      6
date          0
dtype: int64

**# Fill missing values for 'Age' with the median**
df['Age'].fillna(df['Age'].median(), inplace=True)

**# Drop rows with missing values in 'Embarked' (if any)**
df.dropna(subset=['Embarked'], inplace=True)

**# Drop 'Cabin' column due to high number of missing values**
df.drop(columns=['Cabin'], inplace=True)

In [ ]:
# drop unnecessary columns
df.drop(['Name','sn','date'], axis=1, inplace=True)

In [ ]:
# fill missing values
import numpy as np
df['age'].fillna(df['age'].mean(),inplace=True)
df['embarked'].fillna(df['embarked'].mode(), inplace=True)

In [ ]:
df['embarked'].value_counts()

embarked
S    905
C    267
Q    123
Name: count, dtype: int64

In [ ]:
# split data into train and test sets
from sklearn.model_selection import train_test_split
X = df.drop('survived', axis=1)
y = df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

# print the shapes of the train and test sets
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1040, 9) (261, 9) (1040,) (261,)